.App {
  text-align: center;
}

.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  position: sticky;
  top: 0;
  z-index: 1;
  height: 5rem;
  width: 100% - padding-left;
  padding-left: 4rem;
  background: #242424;
  box-shadow: 0 0 5px 2px #0004;
}

.navbar-link {
  margin: 0.5rem;
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #fff;
  border-radius: 1rem;
  font-size: 2rem;
  font-weight: 300;
  text-decoration-line: none;
}

.navbar-link:hover {
  cursor: pointer;
  background-color: #333;
  box-shadow: 0 0 15px 1px #3338;
}

.container {
  margin: 2.5rem 5rem;
  padding: 1.5rem 3rem;
  min-width: 17rem;
  background-color: #282828;
  border-radius: 0.8rem;
  box-shadow: 0 0 5px 2px #0004;
}

.button {
  font-size: 1rem;
  background-color: #aaa;
  border: none;
  border-radius: 0.4rem;
  height: 2rem;
  width: 8rem;
  margin: 0.25rem;
  margin-top: 1rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.button:hover {
  cursor: pointer;
  color: #111;
  background-color: #fff;
}

.button-red {
  font-size: 1rem;
  background-color: #e8a2a2;
  border: none;
  border-radius: 0.4rem;
  height: 2rem;
  width: 8rem;
  margin: 0.25rem;
  margin-top: 1rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.button-red:hover {
  cursor: pointer;
  color: #111;
  background-color: #fe6969;
}

.card-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card-collection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem;
}