.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #0048ff;
}

.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  position: sticky;
  top: 0;
  z-index: 1;
  height: 5rem;
  width: 100%;
  padding-left: 4rem;
  background: #4d4d4d;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 30%);
}

.navbar-link {
  margin: 1rem;
  color: white;
  font-size: 2rem;
  font-weight: 300;
  text-decoration-line: none;
}

.navbar-link:hover {
  color: #00e3d4;
}