.card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 17rem;
    height: 23rem;
    margin: 1rem;
    opacity: 0.7;
    word-wrap: break-word;
    background-color: #1118;
    background-clip: border-box;
    border-radius: 0.5rem;
    border: 1px solid rgba(0 0 0 .125);
    box-shadow: 0 0 5px 2px #0004;
}

.card:hover {
    opacity: 1;
    cursor: pointer;
}

.card-name {
    padding: 0.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    max-height: 2rem;
    overflow: hidden;
}

.card-img {
    object-fit: contain;
    align-self: center;
    width: 17rem;
    height: 17rem;
}

.card-desc {
    padding: 1rem;
    height: 1.5rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}